ARSystemFrontEnd/Service References/SecureAccessService/SecureAccessService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models.ViewModels.AuditTrail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models.ViewModels.AuditTrail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="vmAuditTrail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" type="xs:int" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayLoad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vmAuditTrail" nillable="true" type="tns:vmAuditTrail" />
</xs:schema>