ARSystemFrontEnd/Service References/SecureAccessService/SecureAccessService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models.TBIGSYSDB01.TBGSecureAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models.TBIGSYSDB01.TBGSecureAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.8.0.166:8801/SecureAccessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models" />
  <xs:complexType name="ArrayOfidxRoleJobTitle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="idxRoleJobTitle" nillable="true" type="tns:idxRoleJobTitle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfidxRoleJobTitle" nillable="true" type="tns:ArrayOfidxRoleJobTitle" />
  <xs:complexType name="idxRoleJobTitle">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models" base="q1:BaseClass">
        <xs:sequence>
          <xs:element minOccurs="0" name="JobTitleID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mstRoleID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="idxRoleJobTitle" nillable="true" type="tns:idxRoleJobTitle" />
</xs:schema>