ARSystemFrontEnd/Service References/SecureAccessService/SecureAccessService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models.ViewModels.Tree" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models.ViewModels.Tree" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.8.0.166:8801/SecureAccessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models" />
  <xs:complexType name="ArrayOfvmTree">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vmTree" nillable="true" type="tns:vmTree" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvmTree" nillable="true" type="tns:ArrayOfvmTree" />
  <xs:complexType name="vmTree">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models" base="q1:BaseClass">
        <xs:sequence>
          <xs:element minOccurs="0" name="children" nillable="true" type="tns:ArrayOfvmTree" />
          <xs:element minOccurs="0" name="icon" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="state" nillable="true" type="tns:vmTreeState" />
          <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="vmTree" nillable="true" type="tns:vmTree" />
  <xs:complexType name="vmTreeState">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models" base="q2:BaseClass">
        <xs:sequence>
          <xs:element minOccurs="0" name="disabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="opened" type="xs:boolean" />
          <xs:element minOccurs="0" name="selected" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="vmTreeState" nillable="true" type="tns:vmTreeState" />
</xs:schema>