ARSystemFrontEnd/Service References/SecureAccessService/SecureAccessService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models.ViewModels.Action" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models.ViewModels.Action" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.8.0.166:8801/SecureAccessService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models.ViewModels.Datatable" />
  <xs:complexType name="dtActionFilter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SecureAccess.Domain.Models.ViewModels.Datatable" base="q1:DatatableAjaxModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ApplicationID" type="xs:int" />
          <xs:element minOccurs="0" name="MenuID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="dtActionFilter" nillable="true" type="tns:dtActionFilter" />
</xs:schema>